@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@keyframes rightToLeft {
  from {
    opacity: 0;
    transform: translateX(100%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes lefttoRight {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

textarea,
input,
li,
a,
button {
  list-style: none;
  outline: none;
  border: 0; }

a,
button {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none;
  color: black; }

button {
  background: transparent; }

img {
  object-fit: cover; }

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem; }

.header {
  padding: 3rem 0;
  background: rgba(229, 229, 229, 0.5); }
  .header-container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .header-logo {
    cursor: pointer; }
    .header-logo-img {
      width: 5rem;
      height: 5rem;
      border-radius: 5px; }
  .header-search {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .header-search input {
      border: 1px solid rgba(138, 138, 226, 0.849);
      border-radius: 5px;
      padding: 1.3rem;
      min-width: 50rem; }
    .header-search-icon {
      cursor: pointer;
      border-radius: 5px;
      margin-left: -4rem;
      padding: 5px;
      padding-left: 7px;
      border: 1px solid #e5e5e5; }
  .header-menu {
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    min-width: 20rem; }
  .header-item {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer; }
    .header-item:hover {
      color: rgba(0, 60, 255, 0.815);
      text-decoration: underline; }

.container-main {
  padding: 5rem 0;
  padding-bottom: 9rem;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
.container-filter {
  min-height: 50rem;
  border-radius: 2px;
  max-width: 30rem;
  padding: 2rem;
  background: rgba(229, 229, 229, 0.7);
  margin-top: 5rem;
  margin-right: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-label {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.2rem;
  font-weight: bold; }
.container-select {
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-option:not(:last-child) {
  margin-bottom: 1.2rem; }
.container-option-title {
  font-size: 1.5rem;
  font-weight: 500; }
.container-option-group {
  margin-left: 2rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-option-select {
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out; }
  .container-option-select:hover {
    transform: translateX(1rem);
    color: #0d2ee4; }
.container-option-select-active {
  color: #0d2ee4; }
  .container-option-select-active:hover {
    transform: translateX(0); }
.container-option-select-input {
  position: relative; }
  .container-option-select-input-content {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .container-option-select-input-content input {
      max-width: 10rem;
      padding: 5px; }
    .container-option-select-input-content p {
      margin: 0 4px;
      min-width: 8px; }
  .container-option-select-input-submit {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #e5e5e5;
    position: absolute;
    padding: 2px 5px;
    right: 0;
    margin-top: 1rem; }
.container-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem; }
.container-paganation {
  margin-top: 3rem;
  position: absolute;
  bottom: 3rem;
  right: 0; }
  .container-paganation button {
    font-size: 1.2rem; }

.item {
  padding-top: 2rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-out;
  cursor: pointer; }
  .item:hover {
    box-shadow: 0 0 2px 2px #e5e5e5; }
  .item-img {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    height: 23rem;
    max-width: 80%; }
  .item-content {
    padding-left: 2rem; }
  .item-control {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px; }
  .item-title {
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    margin-left: 3px;
    font-size: 1.3rem; }
  .item-author {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 3px; }
    .item-author strong {
      font-weight: bold; }
  .item-comment {
    font-size: 1.2rem;
    margin-left: 1.2rem; }
  .item-price {
    margin-left: 2px;
    font-size: 1.2rem; }
    .item-price strong {
      font-weight: bold; }
  .item-discount {
    font-size: 1.2rem;
    padding: 5px 3px;
    background: tomato;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 2rem; }

.loading {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh; }

.about {
  padding: 5rem 0 2rem;
  min-height: 71vh; }
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .about-list {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .about-item {
    transition: all 0.2s ease-in-out;
    padding: 6rem 4rem;
    border-radius: 1rem;
    margin: 0 auto;
    cursor: pointer; }
    .about-item:hover {
      box-shadow: 0 0 2px 2px #e5e5e5; }
  .about-img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem; }
  .about-name {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold; }
  .about-position {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    font-style: italic; }

.error {
  padding: 3rem 0; }
  .error-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem; }
  .error-img {
    margin: 0 auto;
    width: 60rem;
    height: 35rem; }
  .error-list {
    margin-top: 4rem;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .error-item:first-child {
    margin-right: 2rem; }
  .error-item {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background: rgba(184, 184, 236, 0.5);
    border-radius: 4px; }
    .error-item:hover {
      background: #b8b8ec; }

.footer {
  text-align: center;
  padding: 3rem;
  background: #e5e5e5;
  font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */
