@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@keyframes rightToLeft {
  from {
    opacity: 0;
    transform: translateX(100%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes lefttoRight {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth; }

select {
  outline: none; }

textarea,
input,
li,
a,
button {
  list-style: none;
  outline: none;
  border: 0; }

a,
button {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none;
  color: black; }

button {
  background: transparent; }

img {
  object-fit: cover; }

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem; }

.admin-header {
  padding: 3rem 0;
  width: 100%;
  background: rgba(33, 163, 241, 0.4); }
  .admin-header-container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .admin-header-logo {
    width: 4rem;
    height: 4rem; }
  .admin-header-current {
    margin-left: -7rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; }
  .admin-header-search-bar {
    padding: 1rem;
    border: 1px solid #39393d;
    border-radius: 5px;
    min-width: 50rem;
    background: transparent;
    margin-left: -4rem; }
  .admin-header-identify {
    margin-right: 5rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .admin-header-identify i {
      margin-right: 1rem;
      font-size: 1.5rem; }
  .admin-header-info {
    margin-right: 2rem; }
  .admin-header-name {
    font-size: 1.2rem; }
  .admin-header-id {
    font-size: 1.2rem; }

.admin {
  padding: 5rem 0; }

.admin-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }

.admin-list {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 6rem; }

.admin-item:not(:last-child) {
  margin-bottom: 4rem; }

.admin-item {
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .admin-item:hover {
    transform: translateX(1rem);
    color: #21A3F1; }
  .admin-item-text {
    margin-left: 1.2rem; }

.admin-content {
  flex: 2.5; }

.header {
  padding: 3rem 0;
  background: rgba(229, 229, 229, 0.5); }
  .header-container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .header-logo {
    cursor: pointer; }
    .header-logo-img {
      width: 5rem;
      height: 5rem;
      border-radius: 5px; }
  .header-search {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .header-search input {
      border: 1px solid rgba(138, 138, 226, 0.849);
      border-radius: 5px;
      padding: 1.3rem;
      min-width: 50rem; }
    .header-search input:focus::-webkit-input-placeholder {
      font-size: 1.2rem;
      transform-origin: left center;
      transition: all 0.25s ease-in-out; }
    .header-search-icon {
      text-align: center;
      cursor: pointer;
      margin-left: -4rem;
      padding: 4px;
      padding-left: 6px;
      border: 1px solid #ccc;
      border-radius: 5px; }
  .header-menu {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    min-width: 20rem; }
  .header-item {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
    transition: all 0.1s ease-in-out; }
    .header-item:hover {
      color: rgba(0, 60, 255, 0.815); }
  .header-indentify {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .header-indentify p {
      font-weight: bold; }
    .header-indentify:hover {
      text-decoration: none;
      color: black; }
  .header-item-log-in {
    margin: 0 5px; }
  .header-item-cart {
    cursor: pointer;
    position: relative; }
    .header-item-cart i {
      font-size: 2rem; }
  .header-item-cart-amount {
    color: white;
    position: absolute;
    right: -1.2rem;
    top: -1.5rem;
    clip-path: circle(38.4% at 50% 50%);
    font-size: 1.2rem;
    background: #ffc93e;
    padding: 0.7rem; }
  .header-info {
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .header-setting {
    position: relative; }
    .header-setting:before {
      position: absolute;
      height: 1rem;
      width: 10rem;
      content: "";
      top: 1.2rem;
      right: -1rem; }
  .header-item-user-profile {
    padding-left: 5px;
    margin-left: 5px;
    position: relative; }
    .header-item-user-profile:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      left: 0; }
  .header-config {
    margin-left: 1rem; }
  .header-dropdown-menu {
    position: absolute;
    padding: 1.2rem 1rem;
    top: 2rem;
    right: 0;
    background: #e0e0e0c0;
    border-radius: 2px;
    display: none;
    z-index: 2;
    transform-origin: top right;
    animation: dropdown ease-in-out 0.25s; }
  .header-dropdown-item {
    font-weight: lighter;
    font-size: 1.2rem;
    min-width: 9rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    min-height: 2rem;
    padding: 5px 0 1rem; }
  .header-item-logout {
    padding-top: 7px;
    margin-top: 5px;
    margin-bottom: -5px;
    position: relative; }
    .header-item-logout:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: black;
      top: 0; }

.header-setting:hover > .header-dropdown-menu {
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }

@keyframes dropdown {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.MuiPagination-root > .MuiPagination-ul > li > .Mui-selected {
  color: white;
  background: #189eff; }

.container-main {
  padding: 5rem 0 0;
  padding-bottom: 9rem;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
.container-filter {
  border-radius: 2px;
  max-width: 30rem;
  padding: 2rem 2rem 4rem;
  background: rgba(229, 229, 229, 0.7);
  margin-top: 5rem;
  margin-right: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-label {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.2rem;
  font-weight: bold; }
.container-select {
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-option:not(:last-child) {
  margin-bottom: 1.2rem; }
.container-option-title {
  font-size: 1.5rem;
  font-weight: 500; }
.container-option-group {
  margin-left: 2rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-option-select {
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out; }
  .container-option-select:hover {
    transform: translateX(1rem);
    color: #0d2ee4; }
.container-option-select-active {
  color: #0d2ee4; }
  .container-option-select-active:hover {
    transform: translateX(0); }
.container-option-select-input {
  position: relative; }
  .container-option-select-input-content {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .container-option-select-input-content input {
      max-width: 10rem;
      padding: 5px 8px;
      border: 1px solid transparent;
      transition: all 0.2s ease-in-out; }
    .container-option-select-input-content input:focus {
      border: 1px solid #0de4e4; }
    .container-option-select-input-content p {
      margin: 0 4px;
      min-width: 8px; }
  .container-option-select-input-submit {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #e5e5e5;
    padding: 3px 5px;
    margin-top: 1rem;
    border-radius: 2px;
    float: right;
    opacity: 0.8; }
    .container-option-select-input-submit:hover {
      opacity: 1; }
.container-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem;
  width: 100%; }
.container-pagination {
  margin-top: 3rem;
  position: absolute;
  bottom: 3rem;
  right: 0; }
  .container-pagination button {
    font-size: 1.2rem; }

.item {
  padding-top: 2rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-out;
  cursor: pointer; }
  .item:hover {
    box-shadow: 0 0 2px 2px #e5e5e5; }
  .item-img {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    height: 23rem;
    max-width: 80%; }
  .item-content {
    padding-left: 2rem; }
  .item-control {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px; }
  .item-title {
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    margin-left: 3px;
    font-size: 1.3rem; }
  .item-author {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 3px; }
    .item-author strong {
      font-weight: bold; }
  .item-comment {
    font-size: 1.2rem;
    margin-left: 1.2rem; }
  .item-price {
    margin-left: 2px;
    font-size: 1.2rem; }
    .item-price strong {
      font-weight: bold; }
  .item-discount {
    font-size: 1.2rem;
    padding: 5px 3px;
    background: tomato;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 2rem; }

.loading {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh; }

.landing_page {
  padding: 8rem 4rem 10rem;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
  .landing_page:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    background: #e5e5e5;
    left: 30rem;
    height: 100%; }
  .landing_page-img {
    width: 25rem;
    height: 32rem;
    padding: 2rem;
    padding-right: 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .landing_page-img img {
      width: 22rem;
      height: 28rem; }
  .landing_page-content {
    max-width: 40%;
    padding-left: 4rem; }
  .landing_page-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2; }
  .landing_page-author {
    margin-top: 1.3rem;
    font-size: 1.3rem;
    font-weight: 300; }
    .landing_page-author strong {
      font-weight: bold; }
  .landing_page-control {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1.2rem;
    font-size: 1.2rem; }
  .landing_page-comment {
    margin-left: 1.2rem; }
  .landing_page-new-price {
    font-size: 1.4rem; }
    .landing_page-new-price strong {
      font-weight: bold; }
  .landing_page-old-price {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: line-through;
    margin-left: 1rem; }
  .landing_page-discount {
    font-weight: bold;
    background: tomato;
    color: white;
    padding: 6px 5px;
    margin-left: 1.2rem;
    border-radius: 2px; }
  .landing_page-promo {
    margin-top: 2rem;
    padding: 8px 1.2rem;
    border: 1px solid blue;
    border-radius: 2px;
    max-width: 37.5rem;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .landing_page-code:not(:first-child) {
    margin-left: 1rem; }
  .landing_page-code {
    padding: 5px 2px;
    border: 1px solid #919191;
    border-radius: 2px;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem; }
    .landing_page-code strong {
      position: relative;
      padding-right: 5px; }
      .landing_page-code strong:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 1px;
        height: 100%;
        background: #e5e5e5;
        right: 0; }
    .landing_page-code p {
      margin-left: 5px; }
  .landing_page-amount {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3rem;
    font-size: 1.5rem; }
    .landing_page-amount-control {
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      margin-left: 2rem; }
      .landing_page-amount-control button {
        color: #666060; }
    .landing_page-amount-btn {
      font-size: 1.2rem;
      min-width: 4rem; }
    .landing_page-amount-btn--disable {
      opacity: 0.8;
      cursor: default; }
    .landing_page-amount-btn, .landing_page-amount-label {
      font-weight: 400;
      padding: 0.8rem;
      background: rgba(229, 229, 229, 0.7);
      text-align: center; }
    .landing_page-amount-label {
      max-width: 4rem;
      font-size: 1rem;
      font-size: 1.4rem;
      border: 1px solid rgba(221, 221, 221, 0.5);
      transition: all 0.1s ease-in-out; }
    .landing_page-amount-label:focus {
      border: 1px solid #189eff; }
    .landing_page-amount-btn:nth-child(1) {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .landing_page-amount-btn:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
  .landing_page-shopping {
    width: 30rem;
    margin-top: 4rem;
    padding: 1.5rem 5px;
    background: #ff3945;
    border-radius: 2px;
    text-align: center;
    opacity: 0.9;
    cursor: pointer; }
    .landing_page-shopping:hover {
      opacity: 1; }
    .landing_page-shopping button {
      font-weight: bold;
      font-size: 1.5rem;
      color: white; }
  .landing_page-zoom {
    position: absolute;
    width: 25rem;
    height: 32rem;
    top: 2rem;
    right: 6rem;
    border: 1px solid #189eff;
    background-repeat: no-repeat;
    z-index: 100;
    background-size: 60rem;
    display: none; }

.cart {
  padding: 10rem 0; }
  .cart-header {
    font-size: 2rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
    font-weight: bold; }
  .cart-empty {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap; }
    .cart-empty-img {
      width: 40rem;
      height: 40rem; }
    .cart-empty-control {
      margin-top: 3rem;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap; }
    .cart-empty-btn {
      font-size: 1.2rem;
      margin: 0 2rem;
      padding: 1rem 1.5rem;
      background: #fdd835;
      text-align: center;
      border-radius: 5px; }
      .cart-empty-btn:hover {
        color: white;
        background: #0c87ee; }
  .cart-choose-option {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    padding: 1.2rem 1rem;
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
    max-width: 66%; }
  .cart-choose-all {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1rem;
    cursor: pointer; }
  .cart-choose-all-text {
    margin-left: 2rem; }
  .cart-container {
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .cart-list {
    padding: 5rem 3rem 5rem 2rem;
    border-radius: 1rem;
    border: 2px solid #e5e5e5;
    flex: 2; }
  .cart-item:not(:last-child) {
    margin-bottom: 7rem; }
  .cart-item {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .cart-item-container {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      width: 60%; }
    .cart-item-choose {
      align-self: center;
      margin-right: 2rem; }
    .cart-item-img {
      width: 15rem;
      height: 20rem;
      margin-left: 2rem;
      margin-right: 4rem; }
    .cart-item-content {
      margin-top: 2rem;
      font-size: 1.2rem; }
    .cart-item-name {
      font-weight: bold;
      margin-bottom: 1.2rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
      white-space: pre-wrap;
      word-break: break-word;
      line-height: 1.6; }
    .cart-item-author {
      margin-bottom: 1.2rem; }
    .cart-item-price {
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap; }
    .cart-item-new-price {
      font-weight: bold; }
    .cart-item-old-price {
      position: relative;
      text-decoration: line-through;
      padding-right: 1.2rem;
      margin-left: 1rem; }
      .cart-item-old-price:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 1px;
        height: 100%;
        background: #e5e5e5;
        right: 0; }
    .cart-item-discount {
      margin-left: 1.2rem;
      padding: 6px 2px;
      border-radius: 2px;
      background: tomato;
      color: white;
      font-weight: bold; }
    .cart-item-control {
      margin-top: 2rem;
      margin-right: 2rem;
      font-size: 1.2rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      flex-wrap: nowrap; }
      .cart-item-control-text {
        text-align: center;
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: 1.3rem; }
      .cart-item-control-click {
        padding: 0.8rem;
        text-align: center;
        background: rgba(229, 229, 229, 0.8);
        border: 1px solid #e5e5e5; }
      .cart-item-control-label {
        max-width: 4rem;
        transition: all 0.15s ease-in-out; }
        .cart-item-control-label:focus {
          border: 1px solid #189eff; }
      .cart-item-control-disable {
        opacity: 0.5;
        cursor: default; }
      .cart-item-control-minus {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      .cart-item-control-plus {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
      .cart-item-control-handle {
        margin-top: 2rem;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap; }
      .cart-item-control-shop-later, .cart-item-control-delete {
        color: #189eff;
        opacity: 0.8; }
        .cart-item-control-shop-later:hover, .cart-item-control-delete:hover {
          opacity: 1; }
      .cart-item-control-delete {
        margin-right: 2rem; }
      .cart-item-control-shop-later {
        margin-left: 1rem;
        margin-right: -2rem; }
  .cart-info {
    margin-left: 4rem;
    flex: 1; }
    .cart-info-contact {
      font-size: 1.2rem;
      padding: 1.4rem 1.8rem;
      border: 2px solid #e5e5e5;
      border-radius: 1rem; }
    .cart-info-title {
      padding-bottom: 1rem;
      margin-bottom: 1.2rem;
      position: relative;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap; }
      .cart-info-title:before {
        width: 100%;
        height: 1px;
        content: "";
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); }
      .cart-info-title span {
        font-size: 1.4rem;
        font-weight: bold; }
      .cart-info-title button {
        color: #189eff; }
    .cart-info-contact-com {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap; }
    .cart-info-main-content, .cart-info-main-text {
      line-height: 1.6; }
    .cart-info-main-text {
      font-weight: bold; }
    .cart-info-total {
      line-height: 2;
      font-size: 1.4rem;
      margin-top: 4rem;
      padding: 1rem 1.2rem;
      border: 2px solid #e5e5e5;
      border-radius: 1rem; }
      .cart-info-total-line {
        align-items: stretch;
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        font-weight: bold; }
      .cart-info-total-line:last-child {
        padding-top: 0.6rem;
        font-size: 1.6rem;
        position: relative; }
        .cart-info-total-line:last-child:before {
          position: absolute;
          width: 100%;
          height: 1px;
          background: black;
          content: "";
          top: 0; }
      .cart-info-total-final {
        color: red; }
  .cart-checkout {
    padding: 8rem 0; }
  .cart-item-checkout {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto 0;
    margin-right: 7rem;
    margin-bottom: 12rem; }
  .cart-amount-checkout {
    margin-left: 1.2rem; }
  .cart-payment {
    margin-top: 4rem;
    padding: 2rem 1.2rem;
    border: 2px solid #e5e5e5;
    border-radius: 1rem; }
    .cart-payment-title {
      font-size: 1.4rem;
      font-weight: bold;
      position: relative;
      padding-bottom: 1.2rem; }
      .cart-payment-title:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: black;
        bottom: 0; }
    .cart-payment-error {
      border: 1px solid red; }
    .cart-payment-error-message {
      margin-top: 1.2rem;
      font-size: 1.2rem;
      color: red;
      display: none; }
    .cart-payment-list {
      margin-top: 1.2rem;
      font-size: 1.2rem;
      grid-template-columns: 1fr 1fr;
      display: grid; }
    .cart-payment-item {
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      padding: 1rem 0;
      cursor: pointer; }
    .cart-payment-img {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      width: 4rem;
      height: 3rem;
      object-fit: contain; }
  .cart-submit-btn {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.4rem;
    color: white;
    background: tomato;
    font-weight: bold;
    padding: 1.6rem 0;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
    .cart-submit-btn:hover {
      opacity: 1; }

.slider-container {
  position: relative;
  padding: 5rem 0 0;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap; }
.slider-content {
  max-width: 65%; }
.slider-img {
  object-fit: contain;
  min-width: 100%; }
.slider-extra {
  margin-bottom: 2rem;
  width: 35%;
  background: url("https://salt.tikicdn.com/cache/w408/ts/banner/69/9a/36/dcff148edf2a3918a8ac974d4b75cb20.png") no-repeat center; }

.slick-slider > .slick-dots {
  position: relative;
  z-index: 2; }

.box-1 {
  background: red; }

.box-2 {
  background: yellow; }

.box-3 {
  background: #91e2db; }

.box-4 {
  background: blue; }

.box-5 {
  background: deeppink; }

.box-6 {
  background: #56ff47; }

#box {
  width: 200px;
  min-height: 4rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #e5e5e5;
  background: #eeff00;
  will-change: transform; }

.box-container {
  position: relative;
  list-style: none;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.luckydraw-container {
  padding: 8rem 0;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }

.tear-container {
  margin-bottom: 3rem;
  margin-left: 20rem;
  transform: rotate(-90deg);
  will-change: transform; }

.tear-lucky {
  clip-path: polygon(50% 0%, 13% 100%, 89% 100%);
  width: 5rem;
  height: 5rem;
  background: red; }

.tear-lucky-down {
  clip-path: circle(38% at 51% 100%);
  width: 5rem;
  height: 5rem;
  background: red;
  transform: rotate(180deg);
  margin-left: 1px; }

.btn-control {
  width: 10rem;
  height: 10rem;
  margin-top: 15rem; }

.luckydraw-btn {
  clip-path: circle(50% at 50% 50%);
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  opacity: 0.8; }
  .luckydraw-btn:hover {
    opacity: 1; }

.btn-start {
  background: #00e1ff; }

.btn-stop {
  background: tomato; }

@keyframes tear-move {
  0% {
    transform: rotate(-90deg); }
  25% {
    transform: rotate(-95deg); }
  50% {
    transform: rotate(-100deg); }
  75% {
    transform: rotate(-95deg); }
  100% {
    transform: rotate(-90deg); } }
@keyframes tear-slow {
  0% {
    transform: rotate(-95deg); }
  50% {
    transform: rotate(-97.5deg); }
  100% {
    transform: rotate(-90deg); } }
@keyframes tear-stop {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(-90deg); } }
@keyframes down-1 {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(2000px); }
  80% {
    transform: translateY(2800px); }
  100% {
    transform: translateY(3000px); } }
.display-winner {
  margin-left: 10rem;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 3rem;
  border: 1px solid #e5e5e5; }
.display-title {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2rem; }

.display {
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }

.first-prize,
.second-prize,
.third-prize {
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem 0;
  font-size: 1.4rem; }
  .first-prize .number,
  .second-prize .number,
  .third-prize .number {
    font-weight: bold; }
  .first-prize .list,
  .second-prize .list,
  .third-prize .list {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap; }
    .first-prize .list span:not(:first-child),
    .second-prize .list span:not(:first-child),
    .third-prize .list span:not(:first-child) {
      margin-top: 1.2rem; }

.display-config {
  margin-top: 5rem;
  margin-left: 8rem; }
  .display-config span {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.836);
    text-shadow: 2px 2px 4px yellow; }
  .display-config-title {
    font-size: 2rem;
    font-weight: bold; }

.config-prize-control {
  margin: 2rem 0; }

.config-text {
  margin-right: 1.2rem; }
.config-amount {
  float: right; }

.promotion-wheel {
  padding: 5rem 0;
  min-height: 80vh;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
  .promotion-wheel-main {
    position: relative; }
  .promotion-wheel-item:nth-child(1) {
    background: red;
    transform: rotate(0deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(2) {
    background: yellow;
    transform: rotate(30deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(3) {
    background: blue;
    transform: rotate(60deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(4) {
    background: green;
    transform: rotate(90deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(5) {
    background: tomato;
    transform: rotate(120deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(6) {
    background: purple;
    transform: rotate(150deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(7) {
    background: deeppink;
    transform: rotate(180deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(8) {
    background: chartreuse;
    transform: rotate(210deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(9) {
    background: darkSeaGreen;
    transform: rotate(240deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(10) {
    background: IndianRed;
    transform: rotate(270deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(11) {
    background: Lime;
    transform: rotate(300deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(12) {
    background: NavajoWhite;
    transform: rotate(330deg) skewY(-60deg); }
  .promotion-wheel-container {
    width: 25rem;
    height: 25rem;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
  .promotion-wheel-item {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%; }
  .promotion-wheel-item > div {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem; }
  .promotion-wheel-arrow {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 3rem solid black;
    position: absolute;
    left: 50%;
    z-index: 1;
    top: -1.5rem; }
  .promotion-wheel-arrow-start {
    animation: arrow-move 0.5s linear infinite; }
  .promotion-wheel-spin {
    text-transform: uppercase;
    display: block;
    margin-left: 6.2rem;
    width: 12rem;
    height: 4rem;
    background: blue;
    border-radius: 3rem;
    margin-top: 4rem;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px 2px #868383;
    will-change: transform; }
    .promotion-wheel-spin:active {
      animation: spinOnClick 0.5s ease-in-out 1; }
  .promotion-wheel-spin:disabled {
    opacity: 0.6;
    cursor: default;
    box-shadow: none; }
  .promotion-wheel-container-spin-start {
    animation: start-rotate 1s linear infinite; }
  .promotion-wheel-container-spin-stop {
    animation-play-state: paused; }
  .promotion-wheel-prize-board {
    min-width: 50rem;
    font-size: 1.4rem;
    padding: 2rem 4rem 4rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px; }
  .promotion-wheel-prize-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center; }
  .promotion-wheel-prize-list {
    margin-top: 2rem; }
  .promotion-wheel-prize-item {
    padding: 1rem 0; }
    .promotion-wheel-prize-item strong {
      font-weight: bold; }

@keyframes spinOnClick {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9);
    box-shadow: 0px 0px 10px 15px rgba(134, 131, 131, 0.8); } }
@keyframes start-rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes arrow-move {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-30deg); } }
.firework-content {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }

.firework-container {
  background-color: #f0ede5;
  position: relative;
  width: 100%; }
  .firework-container-hidden {
    display: none; }

.firework-1 {
  animation: firework-md 0.8s both 5;
  animation-delay: 0.2s;
  top: 85%;
  left: 65%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-2 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.5s;
  top: -35%;
  left: -75%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-3 {
  animation: firework-md 0.8s both 5;
  animation-delay: 0.6s;
  top: 25%;
  left: 70%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-4 {
  animation: firework-sm 0.8s both 5;
  animation-delay: 0.1s;
  top: -20%;
  left: -90%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-5 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.9s;
  top: 85%;
  left: 50%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-6 {
  animation: firework-md 0.8s both 5;
  animation-delay: 0.9s;
  top: -35%;
  left: -45%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-7 {
  animation: firework-sm 0.8s both 5;
  animation-delay: 2s;
  top: 80%;
  left: 25%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-8 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.6s;
  top: -70%;
  left: -20%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-9 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.3s;
  top: 65%;
  left: 25%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-10 {
  animation: firework-sm 0.8s both 5;
  animation-delay: 2s;
  top: -55%;
  left: -55%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-11 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.6s;
  top: 95%;
  left: 40%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-12 {
  animation: firework-lg 0.8s both 5;
  animation-delay: 1.5s;
  top: -60%;
  left: -55%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-13 {
  animation: firework-md 0.8s both 5;
  animation-delay: 0.7s;
  top: 50%;
  left: 100%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-14 {
  animation: firework-sm 0.8s both 5;
  animation-delay: 1.4s;
  top: -40%;
  left: -70%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-15 {
  animation: firework-lg 0.8s both 5;
  animation-delay: 0.9s;
  top: 70%;
  left: 55%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-16 {
  animation: firework-md 0.8s both 5;
  animation-delay: 0.4s;
  top: -20%;
  left: -45%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-17 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.7s;
  top: 75%;
  left: 90%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-18 {
  animation: firework-md 0.8s both 5;
  animation-delay: 0.2s;
  top: -60%;
  left: -80%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-19 {
  animation: firework-md 0.8s both 5;
  animation-delay: 1.5s;
  top: 85%;
  left: 90%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

.firework-20 {
  animation: firework-lg 0.8s both 5;
  animation-delay: 1.7s;
  top: -80%;
  left: -45%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%; }

@keyframes firework-sm {
  0%,
        100% {
    opacity: 0; }
  10%,
        70% {
    opacity: 1; }
  100% {
    box-shadow: -3rem 0rem 0 tomato, 3rem 0rem 0 tomato, 0rem -3rem 0 tomato, 0rem 3rem 0 tomato, 2.1rem -2.1rem 0 rgba(3, 169, 244, 0.5), 2.1rem 2.1rem 0 rgba(3, 169, 244, 0.5), -2.1rem -2.1rem 0 rgba(3, 169, 244, 0.5), -2.1rem 2.1rem 0 rgba(3, 169, 244, 0.5); } }
@keyframes firework-md {
  0%,
        100% {
    opacity: 0; }
  10%,
        70% {
    opacity: 1; }
  100% {
    box-shadow: -5rem 0rem 0 tomato, 5rem 0rem 0 tomato, 0rem -5rem 0 tomato, 0rem 5rem 0 tomato, 3.5rem -3.5rem 0 rgba(3, 169, 244, 0.5), 3.5rem 3.5rem 0 rgba(3, 169, 244, 0.5), -3.5rem -3.5rem 0 rgba(3, 169, 244, 0.5), -3.5rem 3.5rem 0 rgba(3, 169, 244, 0.5); } }
@keyframes firework-lg {
  0%,
        100% {
    opacity: 0; }
  10%,
        70% {
    opacity: 1; }
  100% {
    box-shadow: -7rem 0rem 0 tomato, 7rem 0rem 0 tomato, 0rem -7rem 0 tomato, 0rem 7rem 0 tomato, 4.9rem -4.9rem 0 rgba(3, 169, 244, 0.5), 4.9rem 4.9rem 0 rgba(3, 169, 244, 0.5), -4.9rem -4.9rem 0 rgba(3, 169, 244, 0.5), -4.9rem 4.9rem 0 rgba(3, 169, 244, 0.5); } }
.promotion-wheel {
  padding: 5rem 0;
  min-height: 80vh;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
  .promotion-wheel-main {
    position: relative; }
  .promotion-wheel-item:nth-child(1) {
    background: red;
    transform: rotate(0deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(2) {
    background: yellow;
    transform: rotate(30deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(3) {
    background: blue;
    transform: rotate(60deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(4) {
    background: green;
    transform: rotate(90deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(5) {
    background: tomato;
    transform: rotate(120deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(6) {
    background: purple;
    transform: rotate(150deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(7) {
    background: deeppink;
    transform: rotate(180deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(8) {
    background: chartreuse;
    transform: rotate(210deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(9) {
    background: darkSeaGreen;
    transform: rotate(240deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(10) {
    background: IndianRed;
    transform: rotate(270deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(11) {
    background: Lime;
    transform: rotate(300deg) skewY(-60deg); }
  .promotion-wheel-item:nth-child(12) {
    background: NavajoWhite;
    transform: rotate(330deg) skewY(-60deg); }
  .promotion-wheel-container {
    width: 25rem;
    height: 25rem;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
  .promotion-wheel-item {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%; }
  .promotion-wheel-item > div {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem; }
  .promotion-wheel-arrow {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 3rem solid black;
    position: absolute;
    left: 50%;
    z-index: 1;
    top: -1.5rem; }
  .promotion-wheel-arrow-start {
    animation: arrow-move 0.5s linear infinite; }
  .promotion-wheel-spin {
    text-transform: uppercase;
    display: block;
    margin-left: 6.2rem;
    width: 12rem;
    height: 4rem;
    background: blue;
    border-radius: 3rem;
    margin-top: 4rem;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px 2px #868383;
    will-change: transform; }
    .promotion-wheel-spin:active {
      animation: spinOnClick 0.5s ease-in-out 1; }
  .promotion-wheel-spin:disabled {
    opacity: 0.6;
    cursor: default;
    box-shadow: none; }
  .promotion-wheel-container-spin-start {
    animation: start-rotate 1s linear infinite; }
  .promotion-wheel-container-spin-stop {
    animation-play-state: paused; }
  .promotion-wheel-prize-board {
    min-width: 50rem;
    font-size: 1.4rem;
    padding: 2rem 4rem 4rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px; }
  .promotion-wheel-prize-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center; }
  .promotion-wheel-prize-list {
    margin-top: 2rem; }
  .promotion-wheel-prize-item {
    padding: 1rem 0; }
    .promotion-wheel-prize-item strong {
      font-weight: bold; }

@keyframes spinOnClick {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9);
    box-shadow: 0px 0px 10px 15px rgba(134, 131, 131, 0.8); } }
@keyframes start-rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes arrow-move {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-30deg); } }
.form-create {
  padding: 14rem 0;
  position: relative; }
  .form-create-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: -4rem; }
  .form-create-control-input {
    margin-top: 1rem;
    padding: 1.2rem 0.8rem;
    margin-left: -0.8rem;
    border: 1px solid #99d1e2;
    border-radius: 5px; }
  .form-create-control-input-invalid {
    border: 1px solid red; }
  .form-create-control-btn {
    margin-top: 3rem;
    position: absolute;
    right: 0; }
  .form-create-btn {
    padding: 1rem;
    color: white;
    background: #128c9c;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7; }
    .form-create-btn:hover {
      opacity: 1; }
  .form-create-btn-cancel {
    background: #535353;
    margin-right: 1.2rem;
    min-width: 5rem; }

.evaluation {
  padding: 8rem 0;
  font-size: 1.2rem; }
  .evaluation-title {
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .evaluation-new-comment {
    margin-top: 5rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .evaluation-new-comment-avatar {
      padding: 1rem;
      border: 2px solid #e5e5e5;
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 3rem; }
      .evaluation-new-comment-avatar span {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        padding-top: 15%; }
    .evaluation-new-comment-content {
      font-size: 1.2rem;
      margin-left: 1.2rem;
      padding: 0 2rem;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      display: flex;
      flex-wrap: nowrap; }
      .evaluation-new-comment-content-text {
        width: 70rem;
        line-height: 1.6;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid #e5e5e5;
        width: 90rem;
        height: 6rem;
        position: relative; }
      .evaluation-new-comment-content-text-invalid {
        border: 1px solid red; }
      .evaluation-new-comment-content-error {
        color: red;
        margin-top: 5px; }
      .evaluation-new-comment-content-rating {
        font-size: 1.4rem;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap; }
        .evaluation-new-comment-content-rating-text {
          margin-right: 1.2rem; }
    .evaluation-new-comment-submit {
      padding: 6px 8px;
      border-radius: 1rem;
      color: white;
      font-weight: bold;
      background: rgba(12, 135, 238, 0.8); }
      .evaluation-new-comment-submit:hover {
        opacity: 1; }
  .evaluation-comment-list {
    padding: 0 2rem; }
  .evaluation-comment-item:not(:last-child) {
    padding-bottom: 3rem; }
    .evaluation-comment-item:not(:last-child):before {
      position: absolute;
      position: absolute;
      content: "";
      background: black;
      width: 100%;
      height: 1px;
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .evaluation-comment-item {
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5rem; }
    .evaluation-comment-item-info {
      min-width: 25%; }
      .evaluation-comment-item-info-author {
        padding-right: 10rem;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.4rem; }
        .evaluation-comment-item-info-author span {
          margin-left: 1.2rem; }
      .evaluation-comment-item-info-control {
        margin: 1rem 0; }
        .evaluation-comment-item-info-control span {
          margin-left: 1.2rem; }
    .evaluation-comment-item-content {
      padding-left: 5rem; }
      .evaluation-comment-item-content-header-rating {
        font-size: 1.4rem;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap; }
        .evaluation-comment-item-content-header-rating-desc {
          margin-left: 1.2rem;
          display: inline-block;
          font-weight: bold; }
      .evaluation-comment-item-content-header-create {
        margin-top: 1.2rem; }
        .evaluation-comment-item-content-header-create span {
          font-weight: bold; }
      .evaluation-comment-item-content-container {
        margin-left: -1rem;
        margin-top: 2rem; }
        .evaluation-comment-item-content-container-text {
          width: 70rem;
          line-height: 1.6;
          padding: 1rem;
          border-radius: 1rem;
          border: 1px solid #e5e5e5; }
        .evaluation-comment-item-content-container-react {
          margin-top: 1.2rem;
          align-items: stretch;
          justify-content: flex-start;
          flex-direction: row;
          display: flex;
          flex-wrap: nowrap; }
          .evaluation-comment-item-content-container-react-delete, .evaluation-comment-item-content-container-react-like, .evaluation-comment-item-content-container-react-reply {
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;
            opacity: 0.8; }
            .evaluation-comment-item-content-container-react-delete span, .evaluation-comment-item-content-container-react-like span, .evaluation-comment-item-content-container-react-reply span {
              display: inline-block;
              margin-right: 0.6rem; }
            .evaluation-comment-item-content-container-react-delete:hover, .evaluation-comment-item-content-container-react-like:hover, .evaluation-comment-item-content-container-react-reply:hover {
              opacity: 1; }
          .evaluation-comment-item-content-container-react-like, .evaluation-comment-item-content-container-react-reply {
            color: #0d5cb6;
            border: 1px solid #0d5cb6; }
            .evaluation-comment-item-content-container-react-like i, .evaluation-comment-item-content-container-react-reply i {
              color: #0d5cb6; }
          .evaluation-comment-item-content-container-react-unlike {
            background: #e6eef7; }
          .evaluation-comment-item-content-container-react-delete, .evaluation-comment-item-content-container-react-reply {
            margin-left: 1.2rem; }
          .evaluation-comment-item-content-container-react-delete {
            color: tomato;
            border: 1px solid tomato; }
            .evaluation-comment-item-content-container-react-delete i {
              color: tomato; }
          .evaluation-comment-item-content-container-react-like-container {
            align-items: center;
            justify-content: center;
            flex-direction: row;
            display: flex;
            flex-wrap: nowrap;
            position: relative; }
            .evaluation-comment-item-content-container-react-like-container-likelist {
              position: absolute;
              top: 100%;
              padding: 1rem 1.5rem;
              background: rgba(0, 0, 0, 0.5);
              color: white;
              border-radius: 5px;
              line-height: 1.6;
              opacity: 1;
              display: none; }
              .evaluation-comment-item-content-container-react-like-container-likelist-item {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                max-width: 100%;
                white-space: pre-wrap;
                word-break: break-word; }
            .evaluation-comment-item-content-container-react-like-container:hover > .evaluation-comment-item-content-container-react-like-container-likelist {
              align-items: stretch;
              justify-content: space-between;
              flex-direction: column;
              display: flex;
              flex-wrap: nowrap; }
  .evaluation-answer-reply-comment {
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .evaluation-answer-reply-comment-avatar {
      padding: 1rem;
      border: 2px solid #e5e5e5;
      font-weight: bold;
      text-align: center;
      border-radius: 50%; }
      .evaluation-answer-reply-comment-avatar span {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        padding-top: 15%; }
    .evaluation-answer-reply-comment-content {
      font-size: 1.2rem;
      margin-left: 1.2rem;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap; }
      .evaluation-answer-reply-comment-content-text {
        width: 70rem;
        line-height: 1.6;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid #e5e5e5;
        position: relative; }
      .evaluation-answer-reply-comment-content-text-invalid {
        border: 1px solid red; }
      .evaluation-answer-reply-comment-content-error {
        color: red;
        margin-left: 7rem;
        margin-top: 1rem; }
      .evaluation-answer-reply-comment-content-icon-send {
        color: #0c87ee;
        font-size: 1.4rem;
        position: absolute;
        right: 10%; }
  .evaluation-answer-list {
    margin-left: 2rem; }
  .evaluation-answer-item {
    margin: 3rem 0;
    font-size: 1.2rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .evaluation-answer-item-avatar {
      padding: 1rem;
      border: 2px solid #e5e5e5;
      font-weight: bold;
      text-align: center;
      border-radius: 50%; }
      .evaluation-answer-item-avatar span {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        padding-top: 15%; }
    .evaluation-answer-item-content {
      margin-left: 1.2rem; }
      .evaluation-answer-item-content-username {
        font-size: 1.6rem;
        font-weight: bold; }
      .evaluation-answer-item-content-text {
        margin-top: 1rem;
        width: 70rem;
        line-height: 1.6;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid #e5e5e5; }
      .evaluation-answer-item-content-footer {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 1rem; }
      .evaluation-answer-item-content-time span {
        font-weight: bold; }
      .evaluation-answer-item-content-control {
        margin-left: 1.2rem; }
        .evaluation-answer-item-content-control-delete {
          opacity: 0.8;
          cursor: pointer;
          color: tomato;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid tomato; }
          .evaluation-answer-item-content-control-delete button {
            color: tomato; }
          .evaluation-answer-item-content-control-delete i {
            color: tomato;
            margin-left: 0.8rem; }
          .evaluation-answer-item-content-control-delete:hover {
            opacity: 1; }

.login-form {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  padding: 8rem 0 6rem; }
  .login-form-container {
    padding: 6rem 4rem;
    background: #e5e5e5;
    border-radius: 5px; }
  .login-form-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }

.form-control {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
  .form-control-input {
    margin-top: 0.8rem;
    min-width: 30rem;
    padding: 1.2rem 0.8rem;
    border-radius: 2px; }
    .form-control-input-invalid {
      border: 1.5px solid red; }
  .form-control-error {
    margin-top: 1.2rem;
    color: red;
    font-size: 1.2rem; }

.login-form-btn {
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 4rem;
  border-radius: 5px;
  background: tomato;
  cursor: pointer;
  opacity: 0.9; }
  .login-form-btn button {
    color: white;
    font-size: 1.5rem; }
  .login-form-btn:hover {
    opacity: 1; }

.form-another-link {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem; }
  .form-another-link strong {
    margin-left: 1.2rem;
    cursor: pointer;
    color: blue; }
    .form-another-link strong:hover {
      text-decoration: underline; }

.resend-verify {
  margin-top: 3rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 3rem; }
  .resend-verify button {
    padding: 8px;
    color: white;
    border-radius: 2px;
    background: #3d7981; }

.register-form {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  padding: 8rem 0 6rem; }
  .register-form-container {
    padding: 6rem 4rem;
    background: #e5e5e5;
    border-radius: 5px; }
  .register-form-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }

.register-form-btn {
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 4rem;
  border-radius: 5px;
  background: tomato;
  cursor: pointer;
  opacity: 0.9; }
  .register-form-btn button {
    color: white;
    font-size: 1.5rem; }
  .register-form-btn:hover {
    opacity: 1; }

.manage {
  position: absolute;
  right: 2%;
  font-size: 1.5rem; }
  .manage-title {
    font-weight: bold;
    margin-bottom: 2rem; }
  .manage-info {
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap; }
  .manage-authority {
    margin: 8px 0; }
    .manage-authority p {
      margin-top: 5px; }
  .manage-control {
    margin-top: 2rem;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap; }
    .manage-control-btn {
      padding: 1.2rem 5px;
      background: #e5e5e5;
      margin: 5px 0;
      border-radius: 5px; }

.about {
  padding: 5rem 0 2rem;
  min-height: 71vh; }
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .about-list {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .about-item {
    transition: all 0.2s ease-in-out;
    padding: 6rem 4rem;
    border-radius: 1rem;
    margin: 0 auto;
    cursor: pointer; }
    .about-item:hover {
      box-shadow: 0 0 2px 2px #e5e5e5; }
  .about-img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem; }
  .about-name {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold; }
  .about-position {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    font-style: italic; }

.profile {
  padding: 5rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
  .profile-container {
    padding: 3rem 4rem;
    border-radius: 5px;
    background: rgba(229, 229, 229, 0.5); }
  .profile-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .profile-img-card {
    width: 8rem;
    height: 8rem;
    margin: 0 auto; }
  .profile-content {
    padding-top: 4rem; }
  .profile-content-group {
    margin-bottom: 1.5rem; }
  .profile-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px; }
  .profile-authority, .profile-email, .profile-username {
    font-size: 1.2rem;
    min-width: 25rem;
    padding: 1rem; }
  .profile-btn {
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2rem; }
  .profile-cancel, .profile-update {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    font-weight: bold; }
    .profile-cancel:hover, .profile-update:hover {
      opacity: 1; }
  .profile-cancel {
    background: #e5e5e5;
    margin: 0 1rem 0 0; }
  .profile-update {
    background: tomato; }
    .profile-update button {
      color: white; }

.toast-container {
  min-height: 5rem; }

.toast-state {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: black; }

.toast-desc {
  color: #333c48;
  font-size: 1.2rem; }

.error {
  padding: 3rem 0; }
  .error-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem; }
  .error-img {
    margin: 0 auto;
    width: 60rem;
    height: 35rem; }
  .error-list {
    margin-top: 4rem;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .error-item:first-child {
    margin-right: 2rem; }
  .error-item {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background: rgba(184, 184, 236, 0.5);
    border-radius: 4px; }
    .error-item:hover {
      background: #b8b8ec; }

.footer {
  margin-top: 3rem;
  text-align: center;
  padding: 3rem 0;
  background: #e5e5e5;
  font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */
