@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@keyframes rightToLeft {
  from {
    opacity: 0;
    transform: translateX(100%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes lefttoRight {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

textarea,
input,
li,
a,
button {
  list-style: none;
  outline: none;
  border: 0; }

a,
button {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none;
  color: black; }

button {
  background: transparent; }

img {
  object-fit: cover; }

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem; }

.admin-header {
  padding: 3rem 0;
  width: 100%;
  background: rgba(33, 163, 241, 0.4); }
  .admin-header-container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .admin-header-logo {
    width: 4rem;
    height: 4rem; }
  .admin-header-current {
    margin-left: -7rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; }
  .admin-header-search-bar {
    padding: 1rem;
    border: 1px solid #39393d;
    border-radius: 5px;
    min-width: 50rem;
    background: transparent;
    margin-left: -4rem; }
  .admin-header-identify {
    margin-right: 5rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .admin-header-identify i {
      margin-right: 1rem;
      font-size: 1.5rem; }
  .admin-header-info {
    margin-right: 2rem; }
  .admin-header-name {
    font-size: 1.2rem; }
  .admin-header-id {
    font-size: 1.2rem; }

.admin {
  padding: 5rem 0; }

.admin-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }

.admin-list {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 6rem; }

.admin-item:not(:last-child) {
  margin-bottom: 4rem; }

.admin-item {
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .admin-item:hover {
    transform: translateX(1rem);
    color: #21A3F1; }
  .admin-item-text {
    margin-left: 1.2rem; }

.admin-content {
  flex: 2.5; }

.header {
  padding: 3rem 0;
  background: rgba(229, 229, 229, 0.5); }
  .header-container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .header-logo {
    cursor: pointer; }
    .header-logo-img {
      width: 5rem;
      height: 5rem;
      border-radius: 5px; }
  .header-search {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .header-search input {
      border: 1px solid rgba(138, 138, 226, 0.849);
      border-radius: 5px;
      padding: 1.3rem;
      min-width: 50rem; }
    .header-search-icon {
      cursor: pointer;
      border-radius: 5px;
      margin-left: -4rem;
      padding: 5px;
      padding-left: 7px;
      border: 1px solid #e5e5e5; }
  .header-menu {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    min-width: 20rem; }
  .header-item {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem; }
    .header-item:hover {
      color: rgba(0, 60, 255, 0.815);
      text-decoration: underline; }
  .header-indentify {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
    .header-indentify p {
      font-weight: bold; }
    .header-indentify:hover {
      text-decoration: none;
      color: black; }
  .header-item-log-in {
    margin: 0 5px; }
  .header-info {
    margin-left: 1rem;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .header-setting {
    position: relative; }
    .header-setting:before {
      position: absolute;
      height: 1rem;
      width: 10rem;
      content: "";
      top: 1.2rem;
      right: -1rem; }
  .header-item-user-profile {
    padding-left: 5px;
    margin-left: 5px;
    position: relative; }
    .header-item-user-profile:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      left: 0; }
  .header-config {
    margin-left: 1rem; }
  .header-dropdown-menu {
    position: absolute;
    padding: 1.2rem 1rem;
    top: 2rem;
    right: 0;
    background: #e0e0e0c0;
    border-radius: 2px;
    display: none;
    z-index: 2;
    transform-origin: top right;
    animation: dropdown ease-in-out 0.25s; }
  .header-dropdown-item {
    font-weight: lighter;
    font-size: 1.2rem;
    min-width: 9rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    min-height: 2rem;
    padding: 5px 0 1rem; }
  .header-item-logout {
    padding-top: 7px;
    margin-top: 5px;
    margin-bottom: -5px;
    position: relative; }
    .header-item-logout:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: black;
      top: 0; }

.header-setting:hover > .header-dropdown-menu {
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }

@keyframes dropdown {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.container-main {
  padding: 5rem 0;
  padding-bottom: 9rem;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
.container-filter {
  min-height: 50rem;
  border-radius: 2px;
  max-width: 30rem;
  padding: 2rem;
  background: rgba(229, 229, 229, 0.7);
  margin-top: 5rem;
  margin-right: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-label {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.2rem;
  font-weight: bold; }
.container-select {
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-option:not(:last-child) {
  margin-bottom: 1.2rem; }
.container-option-title {
  font-size: 1.5rem;
  font-weight: 500; }
.container-option-group {
  margin-left: 2rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
.container-option-select {
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out; }
  .container-option-select:hover {
    transform: translateX(1rem);
    color: #0d2ee4; }
.container-option-select-active {
  color: #0d2ee4; }
  .container-option-select-active:hover {
    transform: translateX(0); }
.container-option-select-input {
  position: relative; }
  .container-option-select-input-content {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .container-option-select-input-content input {
      max-width: 10rem;
      padding: 5px; }
    .container-option-select-input-content p {
      margin: 0 4px;
      min-width: 8px; }
  .container-option-select-input-submit {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #e5e5e5;
    position: absolute;
    padding: 2px 5px;
    right: 0;
    margin-top: 1rem; }
.container-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem; }
.container-pagination {
  margin-top: 3rem;
  position: absolute;
  bottom: 3rem;
  right: 0; }
  .container-pagination button {
    font-size: 1.2rem; }

.item {
  padding-top: 2rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-out;
  cursor: pointer; }
  .item:hover {
    box-shadow: 0 0 2px 2px #e5e5e5; }
  .item-img {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    height: 23rem;
    max-width: 80%; }
  .item-content {
    padding-left: 2rem; }
  .item-control {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px; }
  .item-title {
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    margin-left: 3px;
    font-size: 1.3rem; }
  .item-author {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 3px; }
    .item-author strong {
      font-weight: bold; }
  .item-comment {
    font-size: 1.2rem;
    margin-left: 1.2rem; }
  .item-price {
    margin-left: 2px;
    font-size: 1.2rem; }
    .item-price strong {
      font-weight: bold; }
  .item-discount {
    font-size: 1.2rem;
    padding: 5px 3px;
    background: tomato;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 2rem; }

.loading {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh; }

.landing_page {
  padding: 8rem 5rem;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
  .landing_page:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    background: #e5e5e5;
    left: 30rem;
    height: 100%; }
  .landing_page-img {
    width: 25rem; }
    .landing_page-img img {
      height: 32rem; }
  .landing_page-content {
    padding-left: 4rem; }
  .landing_page-title {
    font-size: 1.8rem;
    font-weight: bold; }
  .landing_page-author {
    margin-top: 1.3rem;
    font-size: 1.3rem;
    font-weight: 300; }
    .landing_page-author strong {
      font-weight: bold; }
  .landing_page-control {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1.2rem;
    font-size: 1.2rem; }
  .landing_page-comment {
    margin-left: 1.2rem; }
  .landing_page-new-price {
    font-size: 1.4rem; }
    .landing_page-new-price strong {
      font-weight: bold; }
  .landing_page-old-price {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: line-through;
    margin-left: 1rem; }
  .landing_page-discount {
    font-weight: bold;
    background: tomato;
    color: white;
    padding: 6px 5px;
    margin-left: 1.2rem;
    border-radius: 2px; }
  .landing_page-promo {
    margin-top: 2rem;
    padding: 8px 1.2rem;
    border: 1px solid blue;
    border-radius: 2px;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .landing_page-code:not(:first-child) {
    margin-left: 1rem; }
  .landing_page-code {
    padding: 5px 2px;
    border: 1px solid #919191;
    border-radius: 2px;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem; }
    .landing_page-code strong {
      position: relative;
      padding-right: 5px; }
      .landing_page-code strong:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 1px;
        height: 100%;
        background: #e5e5e5;
        right: 0; }
    .landing_page-code p {
      margin-left: 5px; }
  .landing_page-amount {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2rem;
    font-size: 1.5rem; }
    .landing_page-amount-control {
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      margin-left: 2rem; }
    .landing_page-amount-btn, .landing_page-amount-label {
      font-weight: 400;
      font-size: 1.4rem;
      padding: 0.8rem;
      background: rgba(229, 229, 229, 0.7);
      text-align: center; }
    .landing_page-amount-label {
      min-width: 4rem; }
    .landing_page-amount-btn:nth-child(1) {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .landing_page-amount-btn:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
  .landing_page-shopping {
    margin-top: 2rem;
    padding: 1.5rem 5px;
    background: tomato;
    border-radius: 2px;
    text-align: center;
    opacity: 0.9;
    cursor: pointer; }
    .landing_page-shopping:hover {
      opacity: 1; }
    .landing_page-shopping button {
      font-weight: bold;
      font-size: 1.5rem;
      color: white; }

.form-create {
  padding: 14rem 0;
  position: relative; }
  .form-create-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: -4rem; }
  .form-create-control-input {
    margin-top: 1rem;
    padding: 1.2rem 0.8rem;
    margin-left: -0.8rem;
    border: 1px solid #99d1e2;
    border-radius: 5px; }
  .form-create-control-input-invalid {
    border: 1px solid red; }
  .form-create-control-btn {
    margin-top: 3rem;
    position: absolute;
    right: 0; }
  .form-create-btn {
    padding: 1rem;
    color: white;
    background: #128c9c;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7; }
    .form-create-btn:hover {
      opacity: 1; }
  .form-create-btn-cancel {
    background: #535353;
    margin-right: 1.2rem;
    min-width: 5rem; }

.login-form {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  padding: 8rem 0 6rem; }
  .login-form-container {
    padding: 6rem 4rem;
    background: #e5e5e5;
    border-radius: 5px; }
  .login-form-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }

.form-control {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap; }
  .form-control-input {
    margin-top: 0.8rem;
    min-width: 30rem;
    padding: 1.2rem 0.8rem;
    border-radius: 2px; }
    .form-control-input-invalid {
      border: 1.5px solid red; }
  .form-control-error {
    margin-top: 1.2rem;
    color: red;
    font-size: 1.2rem; }

.login-form-btn {
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 4rem;
  border-radius: 5px;
  background: tomato;
  cursor: pointer;
  opacity: 0.9; }
  .login-form-btn button {
    color: white;
    font-size: 1.5rem; }
  .login-form-btn:hover {
    opacity: 1; }

.form-another-link {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem; }
  .form-another-link strong {
    margin-left: 1.2rem;
    cursor: pointer;
    color: blue; }
    .form-another-link strong:hover {
      text-decoration: underline; }

.register-form {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  padding: 8rem 0 6rem; }
  .register-form-container {
    padding: 6rem 4rem;
    background: #e5e5e5;
    border-radius: 5px; }
  .register-form-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }

.register-form-btn {
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 4rem;
  border-radius: 5px;
  background: tomato;
  cursor: pointer;
  opacity: 0.9; }
  .register-form-btn button {
    color: white;
    font-size: 1.5rem; }
  .register-form-btn:hover {
    opacity: 1; }

.manage {
  position: absolute;
  right: 2%;
  font-size: 1.5rem; }
  .manage-title {
    font-weight: bold;
    margin-bottom: 2rem; }
  .manage-info {
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap; }
  .manage-authority {
    margin: 8px 0; }
    .manage-authority p {
      margin-top: 5px; }
  .manage-control {
    margin-top: 2rem;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap; }
    .manage-control-btn {
      padding: 1.2rem 5px;
      background: #e5e5e5;
      margin: 5px 0;
      border-radius: 5px; }

.about {
  padding: 5rem 0 2rem;
  min-height: 71vh; }
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .about-list {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .about-item {
    transition: all 0.2s ease-in-out;
    padding: 6rem 4rem;
    border-radius: 1rem;
    margin: 0 auto;
    cursor: pointer; }
    .about-item:hover {
      box-shadow: 0 0 2px 2px #e5e5e5; }
  .about-img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem; }
  .about-name {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold; }
  .about-position {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    font-style: italic; }

.profile {
  padding: 5rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap; }
  .profile-container {
    padding: 3rem 4rem;
    border-radius: 5px;
    background: rgba(229, 229, 229, 0.5); }
  .profile-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .profile-img-card {
    width: 8rem;
    height: 8rem;
    margin: 0 auto; }
  .profile-content {
    padding-top: 4rem; }
  .profile-content-group {
    margin-bottom: 1.5rem; }
  .profile-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px; }
  .profile-authority, .profile-email, .profile-username {
    font-size: 1.2rem;
    min-width: 25rem;
    padding: 1rem; }
  .profile-btn {
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2rem; }
  .profile-cancel, .profile-update {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    font-weight: bold; }
    .profile-cancel:hover, .profile-update:hover {
      opacity: 1; }
  .profile-cancel {
    background: #e5e5e5;
    margin: 0 1rem 0 0; }
  .profile-update {
    background: tomato; }
    .profile-update button {
      color: white; }

.toast-container {
  min-height: 5rem; }

.toast-state {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: black; }

.toast-desc {
  color: #333c48;
  font-size: 1.2rem; }

.error {
  padding: 3rem 0; }
  .error-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem; }
  .error-img {
    margin: 0 auto;
    width: 60rem;
    height: 35rem; }
  .error-list {
    margin-top: 4rem;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap; }
  .error-item:first-child {
    margin-right: 2rem; }
  .error-item {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background: rgba(184, 184, 236, 0.5);
    border-radius: 4px; }
    .error-item:hover {
      background: #b8b8ec; }

.footer {
  text-align: center;
  padding: 3rem;
  background: #e5e5e5;
  font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */
