extends layout

block content

  form(method='POST' action='')
    div.form-group
      p Lower price:
      input#lower_price(type='number' name='lower_price')
      p Upper price:
      input#upper_price(type='number' name='upper_price')
    button.btn.btn-primary(type='submit') Submit