extends layout

block content

  form(method='POST' action='/price')
    div.form-group
      p Lower price:
      input#lower_price(type='number' name='lower_price' step='0.001')
      p Upper price:
      input#upper_price(type='number' name='upper_price' step='0.001')
    button.btn.btn-primary(type='submit') Submit