extends layout

block content

  form(method='POST' action='/search?search=son')
    div.form-group
      p Lower price:
      input#search(type='text' name='value')
    button.btn.btn-primary(type='submit') Submit