extends layout

block content
    form(method='POST' action='')
        div.form-group
            label(for='username') Name:
            input#username.form-control(type='text' name='username')
            label(for='password') Password:
            input#password.form-control(type='text' name='password')
        button.btn.btn-primary(type='submit') Submit