extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Option
      select#option.form-control(name='option')
        option(name='name' value='name') Name 
        option(name='price' value='price') Price 
        option(name='author' value='author') Author
    button.btn.btn-primary(type='submit') Submit
