.container {
    &-main {
        padding: 5rem 0;
        padding-bottom: 9rem;
        position: relative;
        @include flexbox(flex-start);
    }
    &-filter {
        min-height: 50vh;
        border-radius: 2px;
        max-width: 30rem;
        padding: 2rem;
        @include bg(rgba(#e5e5e5, 0.7));
        margin-top: 5rem;
        margin-right: 2rem;
        @include flexbox(flex-start, flex-start, column);
    }
    &-label {
        font-size: 1.8rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.2rem;
        font-weight: bold;
    }
    &-select {
        margin-top: 2rem;
        @include flexbox(flex-start, space-between, column);
    }
    &-option:not(:last-child) {
        margin-bottom: 1.2rem;
    }
    &-option {
        &-title {
            font-size: 1.5rem;
            font-weight: 500;
        }
        &-group {
            margin-left: 2rem;
            font-size: 1.3rem;
            margin-top: 1rem;
            @include flexbox(flex-start, space-between, column);
        }
        &-select {
            cursor: pointer;
            margin-bottom: 1rem;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateX(1rem);
                color: rgb(13, 46, 228);
            }
        }
        &-select-active {
            color: rgb(13, 46, 228);
        }
        &-select-input {
            position: relative;
            &-content {
                @include flexbox(center);
                margin-top: 1rem;
                margin-bottom: 1rem;
                input {
                    max-width: 10rem;
                    padding: 5px;
                }
                p {
                    margin: 0 4px;
                    min-width: 8px;
                }
            }
            &-submit {
                border: 1px solid rgba(black, 0.5);
                @include bg(#e5e5e5);
                position: absolute;
                padding: 2px 5px;
                right: 0;
                margin-top: 1rem;
                border-radius: 2px;
            }
        }
    }
    &-list {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem 1rem;
    }
    &-paganation {
        margin-top: 3rem;
        position: absolute;
        bottom: 3rem;
        right: 0;
        button {
            font-size: 1.2rem;
        }
    }
}