.edit-item {
    padding: 8rem 0;
    &-control-btn {
        margin-top: 2rem;
        position: absolute;
        right: 32%;
    }
    &-btn {
        padding: 1rem;
        color: white;
        @include bg(rgb(18, 140, 156));
        border-radius: 5px;
        text-align: center;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    &-btn-cancel {
        @include bg(#535353);
        margin-right: 1.2rem;
        min-width: 5rem;
    }
}