.header {
    padding: 3rem 0;
    @include bg(rgba(#e5e5e5, 0.5));
    &-container {
        @include flexbox(center, space-between);
    }
    &-logo {
        &-img {
            @include size(5rem);
            border-radius: 5px;
        }
        cursor: pointer;
    }
    &-search {
        @include flexbox(center);
        input {
            border: 1px solid rgba(138, 138, 226, 0.849);
            border-radius: 5px;
            padding: 1.3rem;
            min-width: 50rem;
        }
        &-icon {
            cursor: pointer;
            border-radius: 5px;
            margin-left: -4rem;
            padding: 5px;
            padding-left: 7px;
            border: 1px solid #e5e5e5;
        }
    }
    &-menu {
        @include flexbox(center, space-between);
        min-width: 20rem;
    }
    &-item {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 2rem;
        &:hover {
            color: rgba(0, 60, 255, 0.815);
            text-decoration: underline;
        }
    }
    &-indentify {
        p {
            font-weight: bold;
        }
        &:hover {
            text-decoration: none;
            color: black;
        }
        @include flexbox(center, space-between);
    }
    &-item-log-in {
        margin: 0 5px;
    }
    &-info {
        margin-left: 1rem;
        @include flexbox();
    }
    &-setting {
        position: relative;
        &:before {
            position: absolute;
            height: 1rem;
            width: 10rem;
            content: "";
            // @include bg(red);
            top: 1.2rem;
            right: -1rem;
        }
    }
    &-item-user-profile {
        padding-left: 5px;
        margin-left: 5px;
        position: relative;
        &:before {
            @include absoluteCenter("top");
            content: "";
            width: 1px;
            height: 100%;
            @include bg(rgba(black, 0.6));
            left: 0;
        }
    }
    &-config {
        margin-left: 1rem;
    }
    &-dropdown-menu {
        position: absolute;
        padding: 1.2rem 1rem;
        top: 2rem;
        right: 0;
        @include bg(#e0e0e0c0);
        border-radius: 2px;
        display: none;
        z-index: 2;
        transform-origin: top right;
        animation: dropdown ease-in-out 0.25s;
    }
    &-dropdown-item {
        font-weight: lighter;
        font-size: 1.2rem;
        min-width: 9rem;
        @include flexbox(center, space-between);
        min-height: 2rem;
        padding: 5px 0 1rem;
    }
    &-item-logout {
        padding-top: 7px;
        margin-top: 5px;
        margin-bottom: -5px;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            @include bg(black);
            top: 0;
        }
    }
}

.header-setting:hover > .header-dropdown-menu {
    @include flexbox(stretch, space-between, column);
}

@keyframes dropdown {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.MuiPagination-root > .MuiPagination-ul > li > .Mui-selected {
    color: white;
    @include bg(rgb(24,158,255));
}